@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 27% 91%;
    --foreground: 213, 13%, 16%;

    --primary: 212 100% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 235 32% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 212 16% 79%;
    --muted-foreground: 0 0% 100%;

    --tertiary: 211 97% 24%;
    --tertiary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --text-card-foreground: 213, 13%, 16%;

    --border: 210 22% 87%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
